<section class="trailer" id="trailer">
  <div class="trailer-container">
    <h2 class="trailer-title">Watch the Trailer</h2>
    <div class="video-container" #videoContainer>
      <iframe
        width="100%"
        height="600"
        src="https://www.youtube.com/embed/MX96CbC9q34?autoplay=1&mute=1"
        title="Glumion Trailer"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
